@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
#centralizar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

#cabecalho
{
    width: 100%;
    border: solid yellow;
    border-radius: 1rem 1rem 0rem 0rem;
    padding-left: 2rem;
    color: white;
    padding: 0.5rem 2rem;
}

.espaco
{
    margin-bottom: 1.5rem;
    width: 100%;
}

.container {
    background-color: #3b3b46;
    border-radius: 8px;
    box-shadow: 0 4px 10px #ccc;
    width: 100%;
    max-width: 35rem;
    height: 36rem;
}

.info_filme
{
    width: 100%;
    padding-top: 1rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
}

textarea{
    width: 33rem;
    height: 5rem;
    border-radius: 0.5rem;
    resize: none;
}

button{
position: relative;
  padding: 10px 22px;
  width: auto;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7d2ae8;
  font-family:"Poppins", sans-serif ;
  align-self: center;
  margin-top: 1.5rem;
}



