.bg-color-grad {
    background: linear-gradient(to top, #ffc802 87%, #FFC800 88%);
}

.loader {
    border: 4px solid transparent; /* Borda transparente */
    border-top: 4px solid #fff; /* Cor da borda superior */
    border-radius: 50%; /* Forma circular */
    width: 16px; /* Largura da bolinha */
    height: 16px; /* Altura da bolinha */
    animation: spin 1s linear infinite; /* Animação de rotação */
}

@keyframes spin {
    from {
        transform: rotate(0deg); /* Início da animação */
    }
    to {
        transform: rotate(360deg); /* Fim da animação */
    }
}

/* Estilos adicionais para o botão desabilitado */
button:disabled {
    opacity: 0.6; /* Reduz a opacidade para indicar desabilitado */
    pointer-events: none; /* Desabilita todos os eventos de clique */
}
