.not_found_container {
    background-color: #121212;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.not_found_title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.not_found_message {
    font-size: 1.5rem;
}
