/* Estilos principais */

.dateCarousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  color: #ffffff;
}

.dateCarousel button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #7d2ae8;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s;
}

.dateCarousel button:hover {
  background-color: #6b23c9;
}

.dateCarousel span {
  font-size: 18px;
  font-weight: bold;
}

/* Carrossel de Datas */
.carrosselDeDatas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  overflow-x: auto;
  color: #ffffff;
  padding: 10px 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

}

.itemData {
  text-align: center;
  padding: 15px;
  cursor: pointer;
  background-color: #313244;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 0 10px;
  max-width: 8rem;
}

.itemData:hover {
  background-color: #7d2ae8;
  transform: scale(1.1);
}

.dia {
  font-size: 14px;
  font-weight: bold;
}

.data {
  font-size: 16px;
  font-weight: 600;
}

.dataSelecionada {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

/* Filmes */
.filmeCard {
  background-color: #1e1e2e;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  margin: 4rem auto 20px;
  width: 80%;
}

.filmeCard h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.filmeCard p {
  font-size: 16px;
  margin-bottom: 15px;
  color: #b0b0b0;
}

.horarios {
  display: flex;
  gap: 10px;
}

.buyButton {
  padding: 8px 16px;
  background-color: #7d2ae8;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buyButton:hover {
  background-color: #6b23c9;
}

/* Rodapé */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #1e1e2e;
  color: #ffffff;
  border-radius: 15px;
  margin: 0;


}

.footer .button {
  padding: 12px 20px;
  background-color: #7d2ae8;
  color: #ffffff;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.footer .button:hover {
  background-color: #6b23c9;
}

.socialLinks a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.socialLinks a:hover {
  color: #7d2ae8;
}

.disabled {
  background-color: #ddd;
  cursor: not-allowed;
  opacity: 0.5;
}

.selected {
  text-align: center;
  padding: 15px;
  cursor: pointer;
  background-color: white;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 0 10px;
  color: black;
}
