@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    font-family: "Montserrat", serif;
    background: linear-gradient(to top, #ffc802 87%, #FFC800 88%);
}

.centralizar,#logo{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

#logo{
    height: 345px;
    width: 350px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 50px; 
    z-index: 1;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#icone{
    position: relative;
    width: 70%;
    height: 50%;
    top: 25%;
}

.enfeite{
    height: 200px;
    width: 50%;
    position: absolute;
    z-index: 0;
    top: 120px;
}

#esquerda{
  
    left: 0px;
    
}

#direita{
    right: 0px;
}

#area_cadastro{
    width: 1000px;
    height: 900px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    border:solid;
    display: flex;
    flex-direction: column; 
    margin-bottom: 50px;
}

#cabecalho{
    display: flex;
    flex-direction: row;
    border-bottom: solid;
    padding-left: 20px;
    margin-bottom: 30px;
}

#input_nome{
    margin-left: 30px;
    height: 40px;
    width: 88%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    font-family: "Montserrat" ;
    padding-left: 20px;
    margin-bottom: 30px;
}

#data{
    padding-right: 8px;
}

input::placeholder{
    padding-left: -20px;
    font-family: "Montserrat" ;
}

.informacoes{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 100% 
}

.informacoes input,.informacoes select{
    margin-left: 30px;
    height: 40px;
    width: 75% ;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    font-family: "Montserrat" ;
    padding-left: 20px;
    margin-bottom: 15px;
}

h2{
    padding-left: 30px;
    margin-bottom: 15px ;
}

#check_box{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}

#area_botao{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.button {
    left: 375px;
    width: 250px;
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #7d2ae8;
    transition: all 0.2s ease;
    font-family:"Montserrat";
  }
  .button:active {
    transform: scale(0.96);
  }
  .button:before,
  .button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  .button.animate::before {
    top: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    animation: greentopBubbles ease-in-out 0.6s forwards infinite;
  }
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  .button.animate::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
  }
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }

  

  
  
