body
{
    display: flex;
    background: black ;
    flex-direction: column;
    align-items: center;
}

.divs
{
    margin-top: 5rem;
}

#centralizar
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info{
    
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 25rem;
    background-color: #1F1B24;
    align-self: center;
    border-radius: 0.5rem;
}

#info_imagem
{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

#imagem
{
    width: 90%;
    height: 95%;
    background-color: azure;
    border-radius: 0.5rem;
    
    
}

#info_descricao
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    width: 50%;
    height: 100%;
    margin-left: 5rem;
    margin-bottom: 2rem;
    
}

#classificadores
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    width: 25rem;
}

.blocos_c
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1.2rem;
    width: 15rem;
    background-color: darkred;
    border-radius: 1rem;
    margin-right: 1rem;
}

.blocos_extras
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1.2rem;
    width: 4rem;
    background-color: yellow;
    border-radius: 0.2rem;
    margin-right: 1rem;
    color: black;
    font-size: 13px;
}

#diretores{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.info_diretores
{
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid whitesmoke;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    margin-bottom: 0.7rem;
    color: white;

}