body
{
    display: flex;
    background: black ;
    flex-direction: column;
    align-items: center;
}

.divs
{
    margin-top: 5rem;
}

#centralizar
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 25rem;
    background-color: #1F1B24;
    align-self: center;
    border-radius: 8px;
}

#info_imagem
{
    width: 18rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

#imagem
{
    width: 90%;
    height: 95%;
    background-color: azure;
    border-radius: 0.5rem;


}

#info_descricao
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    width: 50%;
    height: 100%;
    margin-left: 5rem;
    margin-bottom: 2rem;

}

#classificadores
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    width: 25rem;
}

.blocos_c
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 15rem;
    background-color: darkred;
    border-radius: 8px;
    margin-right: 1rem;
}

.blocos_extras
{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2rem;
    max-width: 6rem;
    background-color: yellow;
    border-radius: 8px;
    margin-right: 1rem;
    color: black;
    font-size: 13px;
}

#diretores{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.info_diretores
{
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid whitesmoke;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    margin-bottom: 0.7rem;
    color: white;

}

#selecaoSessao {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;
    padding: 20px;
    width: 18rem !important;

}

.selecaoItem {
    margin-bottom: 20px;
}

.selecaoItem h4 {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.selecaoInput {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    transition: border 0.3s ease;
}

.selecaoInput:focus {
    border-color: #0077b6;
    outline: none;
}

.selecaoInput:hover {
    border-color: #00b4d8;
}

.selecaoInput option {
    color: #888;
}

.selecaoItem:first-child h4 {
    margin-top: 0;
}

.assentos {
    margin-top: 2rem;
    width: 80%;
    height: 100%;
}
